<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form id="quiz">
        <h1 class="header"></h1>
        <div class="items"></div>

        <button type="submit" class="btn btn-primary">Submit</button>

        <div class="result m-2"></div>

        <div class="server-state">
            <img src="https://place-hold.it/300x150/ffffff/ff000.png?text=Server%20is%20DOWN&bold&fontsize=24" style="display: none" class="server-down" alt="server-down" />
            <img src="https://place-hold.it/300x150/ffffff/00ff0.png?text=Server%20is%20UP&bold&fontsize=24" style="display: none" class="server-up" alt="server-up" />
        </div>
    </form>
</div>
<script type="template/html" id="quizTemplate">
    <div class="question">
        <h2><%- questionText %></h2>
        <div class="answers form-group">
            <% _.each(answerDtos, function(o) { %>
            <div class="answer">
                <input type="checkbox" class="form-check-input" data-answer="<%- o.answer %>" data-correct="<%- o.correct ? 1 : '' %>">
                <label class="form-check-label"><%- o.answer %></label>
            </div>
            <% }); %>
        </div>
    </div>
</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
<script type="text/javascript">
    function Quiz(options) {
        _.defaults(this, options);
        this.base_url = this.base_url.replace(/\/$/g, '');
        this.server_ok = true;
        this.e = $(this.e);
        this.find();
        this.bind();
        this.init();
        this.serverStateChanged();
    }
    Quiz.prototype.find = function() {
        this.$items = this.e.find('.items');
        this.$header = this.e.find('.header');
        this.$result = this.e.find('.result');
        this.$state_down = this.e.find('.server-state .server-down');
        this.$state_up = this.e.find('.server-state .server-up');
        this.renderQuiz = _.template($(this.tpl).html());
    };
    Quiz.prototype.bind = function() {
        this.e.submit(_.bind(this.submit, this));
        _.bindAll(this, [
            'queryFailed',
            'queryComplete',
            'ready',
            'chaosMonkey',
            'result'
        ]);
    };
    Quiz.prototype.query = function(params) {
        var p;
        // some pre-query code like running spinners?
        if (!this.server_ok) {
            p = $.Deferred().
            reject(null, 'server is down', null).
            promise();
        } else {
            params.url = _.replace(
                this.base_url + '/' + params.path,
                '//', '/'
            );
            p = $.ajax(params);
        }
        return p.
        fail(this.queryFailed).
        done(this.queryComplete);
    };
    Quiz.prototype.queryComplete = function() {
        // some post-request tear down code hiding spinners, progress bars etc
    };
    Quiz.prototype.queryFailed = function(xhr, err, status) {
        // some smarter reporting?
        alert('Query failed: ' + (status || err || 'Unknown error'));
    };
    Quiz.prototype.init = function() {
        var self = this;
        var q1 = this.query({
            path: '/question/show'
        }).then(function(data) {
            self.$items.html(self.renderQuiz(data));
        });
        var q2 = this.query({
            path: '/ui/config/get/getTitle'
        }).then(function(title) {
            self.$header.text(title);
        });
        var q3 = this.query({
            path: '/ui/config/get'
        }).then(function(style) {
            self.e.attr('style', style);
        });
        $.when([q1, q2, q3]).then(this.ready);
    };
    Quiz.prototype.chaosMonkey = function() {
        var old = this.server_ok;
        this.server_ok = !this.server_ok;

        if (old != this.server_ok) {
            this.serverStateChanged();
        }
        setTimeout(this.chaosMonkey, parseInt(Math.random() * 3 + 20) * 1000);
    };
    Quiz.prototype.serverStateChanged = function() {
        if (this.server_ok) {
            this.$state_up.show();
            this.$state_down.hide();
        } else {
            this.$state_up.hide();
            this.$state_down.show();
        }
    };
    Quiz.prototype.ready = function() {
        /// start chaos monkey
        this.chaosMonkey();
    };
    Quiz.prototype.submit = function() {
        this.$result.html('');
        var data = [];
        this.$items.find('input[data-answer]').each(function() {
            var self = $(this);
            if (self.is(':checked')) {
                data.push({
                    answer: self.data('answer').toString(),
                    correct: true
                });
            }
        });
        if (data.length) {
        this.query({
            method: 'POST',
            path: '/question/checkAnswer',
            data: JSON.stringify(data),
            contentType: 'application/json'
        }).then(this.result);
        } else {
            alert('Please check some answers');
        }
        return false;
    };
    Quiz.prototype.result = function(data) {
        this.$result.text(data);
    };
    var quiz = new Quiz({
        e: '#quiz',
        tpl: '#quizTemplate',
        base_url: '/'
    });
</script>
</body>
</html>