<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Search service ui</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">

    <style>

        .thumbnail {
            display: inline-block;
            margin: 10px auto;
            width: 300px;
        }

        .thumbnail, .progress, #error {
            display: none;
        }
    </style>
</head>

<body>

<!-- Masthead -->
<header class="masthead text-black text-center">
    <div class="container">
        <h1>Upload File to StorageService</h1>
        <p>
            Bellow you will find a question and some answers on it please choose the correct answers;
        </p>
    </div>
</header>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container" id="download">
        <div class="row">
            <div id="port" th:text="${port}" style='display:none'/>
            <div id="host" th:text="${host}" style='display:none'/>
            <for class="col-md-10 col-lg-8 col-xl-7 mx-auto">

                <form id="form">
                    <div id="target" class="form-row"></div>

                    <button role="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- Call to Action -->
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container" id="search">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Search txt files by search keys</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <!--<form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="text" id="searchParams" class="form-control form-control-lg"
                                   placeholder="Enter your search keys...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="button" id="searchFiles" class="btn btn-block btn-lg btn-primary">Search
                            </button>
                        </div>
                        <div class="col-12 col-md-12 mb-2 mb-md-0">
                            <br/>
                            <textarea class="form-control form-control-lg" id="searchResults"
                                      placeholder="search results will be displayed here" readonly="true"></textarea>
                        </div>
                    </div>
                </form>-->
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#upload">Upload File</a>
        <a class="navbar-brand" href="#download">Download File</a>
        <a class="navbar-brand" href="#search">Search File</a>
    </div>
</footer>
<script type="template/html" id="questionTpl">
    <div class="question">
        <h1><%- questionText %></h1>
        <div class="answers">
            <% _.each(answerDtos, function(o) { %>
            <div class="answer">
                <input type="checkbox" data-answer="<%- o.answer %>">
                <label><%- o.answer %></label>
            </div>
            <% }); %>
        </div>
    </div>
</script>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
<script type="text/javascript">

    var host = $("#host").text();
    var port = $("#port").text();
    var path1 = "/question/show"
    var path2 = "/question/checkAnswer"

    var POST_URL = "http://" + host + ":" + port + path2;
    var GET_URL = "http://" + host + ":" + port + path1;

    var renderQuestion = _.template($('#questionTpl').html());
    var form = $('#form').submit(function() {
        var result = [];
        form.find('input').each(function() {
            var self = $(this);
            if (self.is(':checked')) {
                result.push(self.data());
            }
        });
        query({
            url: window.POST_URL,
            method: 'POST',
            data: JSON.stringify(result),
            contentType: 'text/json; charset=UTF-8'
        }).then(function(answer) {
            console.log(answer);
        });
        return false;
    });
    function query(params) {
        // pre-request setup
        return $.ajax(params).
        fail(function(xhr, status, err) {
            alert('Request failed: ' + (err || status || 'Unknown error'));
        }).done(function() {
            // post-request (any outcome) tear down
        });
    }
    query({url: GET_URL}).then(function(q) {
        $('#target').append(renderQuestion(q));
    });
</script>

</body>

</html>
