<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <style>

        .thumbnail {
            display: inline-block;
            margin: 10px auto;
            width: 300px;
        }

        .thumbnail, .progress, #error {
            display: none;
        }
    </style>
    <script>

        $(function () {
            $('body').on('submit', '#frm', function (e) {
                e.preventDefault();

                var url = $(this).attr('action');
                var frm = $(this);

                var data = new FormData();
                if (frm.find('#txtFile[type="file"]').length === 1) {
                    data.append('file', frm.find('#txtFile')[0].files[0]);
                }
                var ajax = new XMLHttpRequest();
                ajax.upload.addEventListener('progress', function (evt) {
                    var percentage = (evt.loaded / evt.total) * 100;
                    upadte_progressbar(Math.round(percentage));
                }, false);
                ajax.addEventListener('load', function (evt) {
                    if (evt.target.responseText.toLowerCase().indexOf('error') >= 0) {
                        show_error(evt.target.responseText);
                    } else {
                        preview_image(evt.target.responseText);
                    }
                    upadte_progressbar(0);
                    frm[0].reset();

                }, false);
                ajax.addEventListener('error', function (evt) {
                    show_error('upload failed');
                    upadte_progressbar(0);
                }, false);
                ajax.addEventListener('abort', function (evt) {
                    show_error('upload aborted');
                    upadte_progressbar(0);
                }, false);
                ajax.open('POST', url);
                ajax.send(data);
                return false;
            });
        });

        function upadte_progressbar(value) {
            $('#progressBar').css('width', value + '%').html(value + '%');
            if (value == 0) {
                $('.progress').hide();
            } else {
                $('.progress').show();
            }
        }

        function preview_image(src) {
            $('.thumbnail').show();
            var d = new Date();
            $('#fileState').text('upload completed at :'+src.toString() + ': ' + d.toString());
        }

        function show_error(error) {
            $('.thumbnail, #progressBar').hide();
            $('#error').show();
            $('#error').html(error);
        }
    </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#upload">Upload file</a>
        <a class="navbar-brand" href="#download">DownLoad File</a>
        <a class="navbar-brand" href="#search">Search File</a>
        <div id="port" th:text="${port}" style='display:none'/>
        <div id="host" th:text="${host}" style='display:none'/>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead text-black text-center">
    <div class="container">
        <h1>Upload file to StorageService</h1>
        <script>
            $(document).ready(function () {
                var host = $("#host").text();
                var port = $("#port").text();
                var url = "http://" + host + ":" + port + "/storage";
                $("#frm").attr("action", url);
            });
        </script>
        <div class="jumbotron">
            <form id="frm" action="#" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Select Image to upload</label>
                    <input type="file" class="form-control" id="txtFile" name="txtFile"/>
                </div>

                <div class="preview text-center">
                    <div class="thumbnail">
                        <p id="fileState"></p>
                    </div>

                    <div class="progress">
                        <div class="progress-bar" id="progressBar" role="progressbar" aria-valuemin="0"
                             aria-valuemax="100" style="width:40%">
                            70%
                        </div>
                    </div>

                    <div class="alert alert-danger" id="error"></div>
                </div>

                <div class="form-group">
                    &nbsp;
                    <input type="submit" class="btn btn-block btn-lg btn-primary" id="btnUpload" value="Upload Image"/>
                </div>
            </form>
        </div>
    </div>
</header>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <script>
        $(document).ready(function () {
            $("#downloadFile").click(function () {
                var host = $("#host").text();
                var port = $("#port").text();
                var searchkeys = $("#downloadFileName").val();
                var url = "http://" + host + ":" + port + "/search/download" + "?file=" + searchkeys;

                $.ajax({
                    url: url,
                    method: 'GET',
                    xhrFields: {
                        responseType: 'blob'
                    },
                    success: function (data) {
                        var a = document.createElement('a');
                        var url = window.URL.createObjectURL(data);
                        a.href = url;
                        a.download = 'dataset.csv';
                        a.click();
                        window.URL.revokeObjectURL(url);
                    }
                });
            });
        });

    </script>
    <div class="container" id="download">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Get csv file by name</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="text" id="downloadFileName" class="form-control form-control-lg"
                                   placeholder="please write your file name here...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="button" id="downloadFile" class="btn btn-block btn-lg btn-primary">Download
                                File
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- Call to Action -->
<section class="call-to-action text-white text-center">
    <script>
        $(document).ready(function () {
            $("#searchFiles").click(function () {
                var host = $("#host").text();
                var port = $("#port").text();
                var searchkeys = $("#searchParams").val();
                var url = "http://" + host + ":" + port + "/search" + "?searchParams=" + searchkeys;

                $.get(url, function (data) {
                    $("#searchResults").val(data);
                    console.log("Load was performed.");
                });
            });
        });
    </script>
    <div class="overlay"></div>
    <div class="container" id="search">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Search csv files by search keys</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="text" id="searchParams" class="form-control form-control-lg"
                                   placeholder="Enter your search keys...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="button" id="searchFiles" class="btn btn-block btn-lg btn-primary">Search
                            </button>
                        </div>
                        <div class="col-12 col-md-12 mb-2 mb-md-0">
                            <br/>
                            <textarea class="form-control form-control-lg" id="searchResults"
                                      placeholder="search results will be displayed here" readonly="true"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#upload">Upload file</a>
        <a class="navbar-brand" href="#download">DownLoad File</a>
        <a class="navbar-brand" href="#search">Search File</a>
    </div>
</footer>

</body>

</html>
